name: Test PR
on:
  pull_request:

jobs:
  generate-jobs:
    runs-on: ubuntu-20.04
    outputs:
      strategy: ${{ steps.generate-jobs.outputs.strategy }}
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2 # to be able to determine which files changed via git commands
    - name: install python deps
      run: |
        pip install gitpython
    - name: generate job to test docker image chanegs for PR
      run: |
        strategy="$(python generate_action_pr_jobs.py)"
        jq . <<<"$strategy" # sanity check / debugging aid
        echo "::set-output name=strategy::$strategy"
  test:
    needs: generate-jobs
    strategy: ${{ fromJson(needs.generate-jobs.outputs.strategy) }}
    name: ${{ matrix.name }}
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: build/pull base
        run: |
          docker pull techknowlogick/xgo:base
        if: true
      - name: build base image
        uses: docker/build-push-action@v2
        if: false
        with:
          context: docker/go-base/
          tags: techknowlogick/xgo:base
          push: false
          file: docker/go-base/Dockerfile
      - name: build golang ${{ matrix.golang_version_1 }} image
        uses: docker/build-push-action@v2
        with:
          context: docker/go-${{ matrix.golang_version_1 }}/
          tags: techknowlogick/xgo:${{ matrix.golang_version_1 }}
          push: false
          file: docker/go-${{ matrix.golang_version_1 }}/Dockerfile
      - name: build golang ${{ matrix.golang_version_2 }} image
        uses: docker/build-push-action@v2
        with:
          context: docker/go-${{ matrix.golang_version_2 }}/
          tags: techknowlogick/xgo:${{ matrix.golang_version_2 }}
          push: false
          file: docker/go-${{ matrix.golang_version_2 }}/Dockerfile
      - name: TODO tests
        run: echo "TODO - Tests will eventually be added here"
